{% extends 'base.html' %}

{% block content %}

<style>
    h4 {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
    }
</style>

<h2>AMS</h2>

<a href="/trade/newbrand">Add New Brand</a><br>
<a href="/trade/brandlist">List Brands</a><br>
<a href="/trade/branddelete">Delete Brand</a><br>
<a href="/trade/newproduct">Add New Product</a><br>
<a href="/trade/productlist">List Products</a><br>
<a href="/trade/productdelete">Delete Product</a><br>
<a href="/trade/purchase">Purchase</a><br>
<a href="/trade/purchasehistory">Purchase History</a><br>
<a href="/trade/sale">Sale</a><br>
<a href="/trade/salehistory">Sale History</a><br>
<a href="/trade/credit">Credit</a><br>
<a href="/trade/credithistory">Credit History</a><br>

{% endblock %}
